<div class="message">
  <div class="byline">
    <%= link_to message.user.username, user_path(message.user) %> said:
  </div>
  <div class="text">
    <%= message.text %>
  </div>
  <span class="date"> <%= time_ago_in_words(message.created_at) %> ago</span>
</div>
