<h1>Meetups!</h1>
<% @meetups.each do |meetup| %>

  <div class="book_pic">
    <%= link_to image_tag(meetup.book.photo_link(2)), book_path(meetup.book) %>
  </div>
  <div class="info">
    <div class="unread">
      <p><%= meetup.unread_messages(current_user.id) if meetup.unread_messages(current_user.id) != 0%></p>
    </div>

    <h3>Participants:</h3>

    <% meetup.users.each do |user| %>
      <h4><%= user.username %></h4>
    <% end %>
    <%= link_to 'Go to Messages >>', user_meetup_path(current_user, meetup) %>
  </div>

<% end %>