<div class="landing">
  <h1>Your <span class="strong">best</span> friends are your <span class="strong">book</span> friends.</h1>
  <%= link_to "Sign In", new_session_path, :class => "hero-btn" %>
  <%= link_to "Sign Up", new_user_path, :class => "hero-btn"%>
</div>
