<%= @user.username %>'s books

<div class="user_books_table">
  <ul>
    <% @user.books.each do |book| %>
      <li><%= link_to book.title, book_path(book.id) %> <%= book.author %></li>
    <% end %>
  </ul>



</div>

