<div class="container">
Your friends:

  <div class="user_show_table">
    <table>
      <tr>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
      </tr>
      <tr>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
      </tr>
      <tr>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
      </tr>
    </table>
  </div>
<%= link_to "edit", edit_user_path %>
<span class="caption">Books</span>
<%= link_to "Logout", session_path, method: :delete %>
</div>