<p>Book collection: </p>
  <ul>
  <% books.each do |book| %>
    <li><img src="<%= book.photo_link(1) %>" alt="<%= book.title %>"><%= link_to book.title, book_path(book.id) %> <%= book.author %></li>
  <% end %>
  </ul>
