<div class="container">

  <img src="http://www.youngyogainstitute.co.za/images/books.gif"/>

  <%= button_to "Remove", user_book_path(user_id, book.id), :method => :delete %>
  <h1>Title: <%= book.title %></h1>
  <h1>Author: <%= book.author %></h1>

    <table>
      <tr>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
      </tr>
      <tr>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
      </tr>
    </table>

</div>