<p>Book collection: </p>

<div class="book_list">
  <% @books.each do |book| %>
    <div class="book-display">
      <h4><%= book.title %></h4>
      <%= link_to image_tag(book.photo_link(1)), book_path(book), :class => "book-img"  %>
    </div>
  <% end %>
</div>