<p>Book collection: </p>
<ul>
  <% @books.each do |book| %>
    <li>
      <div class="book-display">
        <h4><%= link_to book.title, book_path(book.id) %></h4>
        <p><%= book.author %></p>
        <img src="<%= book.photo_link(1) %>" alt="<%= book.title %>">
      </div>
    </li>
  <% end %>
</ul>