<div class="container">

  <% if @button %>
    <%= button_to "Remove", user_book_path(current_user.id, @book.id), :method => :delete %>
  <% else %>
    <%= button_to "Add", user_create_path(current_user.id, @book.id) %>
  <% end %>
  <h1>Title: <%= @book.title %></h1>
  <h1>Author: <%= @book.author %></h1>

    <table>
      <tr>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
      </tr>
      <tr>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
        <td>placeholder</td>
      </tr>
    </table>

</div>