<h1> Results </h1>
<ul>
  <% @books.each do |book| %>
    <li>
      <div class="book">
        <ul>
          <li><%= book.title  %></li>
          <li><%= book.author %></li>
          <li><img src="<%= book.photo_link(1) %>" ></li>
          <li><%= link_to("Add to my collection", user_create_favorite_book_path(current_user, book), {:method => "POST"}) %></li>
        <ul>
      </div>
    </li>
  <% end %>
</ul>

