/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*===== Layout Navbar =====*/
.nav {
}

/*===== table listing friends in user/show =====*/
ul {
  display: inline-block;
  float: left;
  width: 100%;
}

ul li {
  display: inline;
}

.book-display {
  border: 1px solid black;
  float: left;
  height: 250px;
  margin: 15px 20px;
  position: relative;
  width: 200px;
}

.book-display img {
  height: 72%;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.book-display h4 {
  margin: 0;
  position: relative;
  top: 0;
  width: 100%;
}

.book-display p {
  display: inline;
  position: relative;
  top: 0;
  width: 100%;
}
/*===== General container =====*/
.container {
  width: 800px;
  margin: 0 auto;
}

/*===== Bottom of page status captions =====*/
.caption {
  border: 1px solid black;
}

/*===== Date for message times =====*/
.date {
  font-size: .5em;
  color: #999999;
}