.book_list {
  display: block;
  float: left;
  overflow: visible;
  padding: 10px;
  position: relative;
  width: 100%;

}

.book-display {
  background-color: #222;
  float: left;
  height: 170px;
  overflow:hidden; /* this is important */
  padding: 0;
  position: relative;
  transition: .2s;
  width: 128px;
  z-index: 1;
}

.title {
  color: #FFF;
  display: none;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;

}

.book-display img {
  width: 100%;
  height: 100%;
  display: normal;
}
.meetup {
  background-color: #EDEDED;
  bottom: 15px;
  box-sizing: border-box;
  color: #444;
  font-weight: bold;
  margin: 0px auto;
  opacity: 0;
  position: absolute;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 101;
}