.book-display {
  margin: 0em 0px 0em 0px;
  overflow:hidden; /* this is important */
  /*border: 1px solid black;*/
  float: left;
  height: 250px;
  padding: 5px;
  position: relative;
  width: 200px;
  z-index: 1;
}

.book-display:hover {
  opacity: .75;
  background-color: #232323;
}

.book-display:hover img{
  opacity: .25;
  padding: 5px 1em;
  z-index: 99;
}

.book-display img {
  margin: -15px 0px -40px -25px;
  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
}

.book-display h4 {
  opacity: 0;
  margin: 0;
  padding-left: 4px;
  position: relative;
  font-size: 23px;
  font-weight: 400;
  top: 45%;
  width: 100%;
}

.book-display:hover h4 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: absolute;
  opacity: 1;
  z-index: 100;
}

.book-display p {
  display: inline;
  position: relative;
  top: 0;
  width: 100%;
}
