.form {
  border: none;
  color: #232323;
  float: left;
  height: 100%;
  margin: 3px;
  padding: 5px 0px 5px 20px;
  position: relative;
  width: 150px;
}

.submit{
  background-color: #202C47;
  border: none;
  color: #D6D6D6;
  display: block;
  float: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  height: 45px;
  margin-top: 20px;
  position: absolute;
  transition: all .2s;
  vertical-align: middle;
  width: 175px;
}

.submit:hover {
  background-color: #3B5385;
  text-shadow: 0px -1.5px 1.5px rgba(0,0,0,0.5);
}

h2 {
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 1%;
  padding: 0;
}

p {
  font-size: 1.25em;
  font-weight: 100;
  margin-top: -1%;
  padding: 0;
 }

#user_username {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.25em;
  padding: 5px;
  height: 35px;
  width: 350px;
}

#user_password {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;

}

#user_email {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;

}

#user_password_confirmation {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;
}

#zip {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;
}

/* Edit User Info */
.edit_user {
  position: relative;
  width: 75%;
}


h3 {
  font-weight: 100;
  font-size: 1.65em;
  margin: 1% 0% ;
}

#user_city {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.75m;
  height: 30px;
  padding: 5px;
  width: 350px;
}

#user_state {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.75m;
  height: 30px;
  padding: 5px;
  width: 350px;
}

#user_zip, #photo_name {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.75m;
  height: 30px;
  padding: 5px;
  width: 350px;
}

#user_travel_distance {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: .65em;
  height: 40px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  width: 70px;

}

.add {
  background-color: #202C47;
  border: none;
  color: #D6D6D6;
  float: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  height: 45px;
  line-height: 2.7em;
  margin: 20px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  vertical-align: middle;
  width: 200px;
}

.add:hover {
  background-color: #705340;
  color: #E8F7F1;
  text-shadow:0 -1px 1px rgba(0,0,0,0.5);
}

.cancel{
  background-color: #8E6951;
  border: none;
  color: #D9F7F1;
  float: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  height: 55px;
  line-height: 2.7em;
  margin-top: 20px;
  margin-left: 20px;
  right: 25%;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  vertical-align: middle;
  width: 275px;
}


.update, .new-message {
  background-color: #202C47;
  border: none;
  color: #D6D6D6;
  display: block;
  float: left;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  height: 45px;
  line-height: 2.7em;
  margin: 20px 0 0 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  width: 200px;
}

.update:hover {
  background-color: #705340;
  color: #E8F7F1;
  text-shadow:0 -1px 1px rgba(0,0,0,0.5);
}

.new-message-form{
  display: block;
  width: 100%;
}


