.form {
  border: none;
  color: #232323;
  float: left;
  height: 100%;
  margin: 3px;
  padding: 5px 0px 5px 20px;
  position: relative;
  width: 150px;
}

.submit {
  background-color: #8E6951;
  border: none;
  color: #D9F7F1;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  height: 55px;
  margin-left: -5px;
  margin-top: 20px;
  position: absolute;
  vertical-align: middle;
  width: 175px;
}

#user_username {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  padding: 5px;
  height: 35px;
  width: 350px;
}

#user_password {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;

}

#user_email {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;

}

#user_password_confirmation {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;
}

#city {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;

}

#state {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;
}

#zip {
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .75em;
  height: 35px;
  padding: 5px;
  width: 350px;
}
