body {
  background-color: #A9D9DB;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1 {
  font-weight: 100;
}

ul {
  display: inline-block;
  float: left;
  width: 100%;
}

ul li {
  display: inline;
}

.container {
  position: relative;
  top: 50px;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 80%;
  z-index: 25;
}

.button {
  background-color: #DBBDA9;
  border: 1px solid #608D8F;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 5px auto;
  padding: 10px;
  bottom: 0;
  position: absolute;
  transition: all .2s ease;
  width: 100%;
}

.button:hover {
  background-color: #8E6989;
  transition: all .2s ease;
  -webkit-box-shadow:0px 0px 1px 0px #D8E7F5, inset 0px 0px 40px #EED0EE;
       -moz-box-shadow:0px 0px 1px 0px #D8E7F5, inset 0px 0px 40px #EED0EE;
            box-shadow:0px 0px 1px 0px #D8E7F5, inset 0px 0px 40px #EED0EE;
}

.strong {
  font-weight: bold
}

