.header {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

nav {
  float: right;
  width: 50%;
}

nav ul {
  display: inline-block;
  float: left;
  position: relative;
  right: 55px;
  width: 100%;
}

nav ul li {
  color: white;
  display: inline;
  float: right;
  padding: 2px 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgba(0,0,0,0.5);
}

nav ul li a:visited {
  color: white;
}

.search_bar {
  color: #232323;
  float: left;
  margin: 3px;
  padding: 5px 0px 5px 20px;
  position: relative;
  width: 40%;
  height: 100%;
}

.search_field{
  border: none;
  height: 35px;
  padding: 5px;
  width: 350px;
}
.search_button {
  background-color: #DBBDA9;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  height: 45px;
  margin-left: -5px;
  position: absolute;
  vertical-align: middle;
}