.header {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

@media (min-width: 400px) and (max-width: 1200px) {
   .collapse {
       display: none !important;
   }
}
nav {
  float: right;
  font-size: 1.15em;
  width: 50%;
}

nav ul {
  display: inline-block;
  float: left;
  position: relative;
  right: 55px;
  width: 100%;
}

nav ul li {
  color: #A9D9DB;
  display: inline;
  float: right;
  padding: 2px 15px;
}

nav ul li a {
  color: #A9D9DB;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgba(0,0,0,0.5);
}

nav ul li a:visited {
  color: #A9D9DB;
}

.search_bar {
  color: #232323;
  float: left;
  margin: 3px;
  padding: 5px 0px 5px 20px;
  position: relative;
  width: 40%;
  height: 100%;
}

.search_field{
  border: none;
  height: 35px;
  padding: 5px;
  width: 60%;
}

.search_field:focus {
  outline: none;
}

.search_button {
  background: #CFB2A0;
    background: -moz-linear-gradient(top, #CFB2A0 0%, #FFDCC5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CFB2A0), color-stop(100%,#FFDCC5));
    background: -webkit-linear-gradient(top, #CFB2A0 0%,#FFDCC5 100%);
    background: -o-linear-gradient(top, #CFB2A0 0%,#FFDCC5 100%);
    background: -ms-linear-gradient(top, #CFB2A0 0%,#FFDCC5 100%);
    background: linear-gradient(to bottom, #CFB2A0 0%,#FFDCC5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CFB2A0',  endColorstr='#FFDCC5', GradientType=0 );  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  height: 45px;
  margin-left: -5px;
  position: absolute;
  transition: all .3s ease;
  vertical-align: middle;
}

.search_button:hover {
  background: #FFDCC5;
  background: -moz-linear-gradient(top, #FFDCC5 0%, #CFB2A0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFDCC5), color-stop(100%,#CFB2A0));
  background: -webkit-linear-gradient(top, #FFDCC5 0%,#CFB2A0 100%);
  background: -o-linear-gradient(top, #FFDCC5 0%,#CFB2A0 100%);
  background: -ms-linear-gradient(top, #FFDCC5 0%,#CFB2A0 100%);
  background: linear-gradient(to bottom, #FFDCC5 0%,#CFB2A0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDCC5',  endColorstr='#CFB2A0', GradientType=0 );
  box-shadow: -2px 2px 6px -6px #777777;
  transition: all .3s ease;
}

.incoming {
  color: white;
  position: absolute;
  right: 190px;
  top: 15px;
}

.incoming span {
  font-size: 10px;
  margin-left: -5px;
  background: red;
  padding: 3px;
  border-radius: 15px;
}


