.small {
  font-size: .75em;
  position: relative;
  width: 250px;
}

.info {
  background-color: #A9D9DB;
  height: 275px;
  display: block;
  font-size: 1.75em;
  font-weight: 300;
  padding: 25px 10px;
  width: 100%;
}

.info h3{
  font-size: 1.75em;
  font-weight: 100;
  margin: 0;
  padding: 0;}

/*only affects the edit my profile button in the intro div*/

.info a {
  background-color: #DBBDA9;
  border: 1px solid #608D8F;
  color: #D9F7F1;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: .75em;
  margin: 5px auto;
  padding: 10px;
  bottom: 50%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  width: 150px;
}

.info a:hover {
  color: #232323;
}

.info h4 {
  font-size: 1.25em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.info p {
  font-size: .75em;
  font-weight: 300;
  margin: 10px auto;
  padding: 10px auto;
}


