.small {
  font-size: .75em;
  position: relative;
  width: 250px;
}

.info {
  background-color: #A9D9DB;
  height: 275px;
  display: block;
  font-size: 1.75em;
  font-weight: 300;
  padding: 25px 10px;
  width: 100%;
}

.info h3{
  font-size: 1.75em;
  font-weight: 100;
  margin: 0;
  padding: 0;}

.info a {
  color: #8F6951;
  text-decoration: none;
  font-weight: 400;

}

.info a:hover {
  color: #232323;
}

.info h4 {
  font-size: 1.25em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.info p {
  font-size: .75em;
  font-weight: 300;
  margin: 10px auto;
  padding: 10px auto;
}


