.info {
  /*background-color: #A9D9DB;*/
  height: 275px;
  display: block;
  font-size: 1.75em;
  font-weight: 300;
  padding: 25px 10px;
  width: 100%;
}

.info h3{
  font-size: 1.75em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

/*only affects the buttons in the intro div*/

.info a {
  background-color: #202C47;
  border: none;
  color: #D6D6D6;
  font-family: 'Lato', sans-serif;
  font-size: .75em;
  font-weight: 300;
  margin: 6% 0;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
}

.info a:hover {
  background-color: #3B5385;
  text-shadow: 0px -1.5px 1.5px rgba(0,0,0,0.5);

}

.info h4 {
  font-size: 1.25em;
  font-weight: 100;
  margin: 1% 0%;
  padding: 0;
}

.info p {
  font-size: .75em;
  font-weight: 300;
  margin: 10px auto;
  padding: 10px auto;
}

.meetup_user a {
  background-color: #A9D9DB;
  color: black;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
}

.meetup_user a:hover{
  color: #3B5385;
  font-weight: 300;
  background-color: #A9D9DB;
  text-shadow: 0 0 0;
}

.unread p {
  color: #202C47;
  font-size: 1em;
  font-weight: 400;
}