/*----------Landing Page------------*/
.landing {
  text-align: center;
  margin-top: 10%;
  font-size: 1.5em;
}

.landing h1{
  display: none;
  margin-bottom: 60px;
}

.hero-btn {
  background: #202C47;
  border: none;
  color: #DEDEDE;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8E6951',  endColorstr='#DEBFAB', GradientType=0 );
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  margin: 0 50px;
  padding: 15px 40px;
  text-decoration: none;
  text-shadow: 1px 0 0 #C9C9C9;
  transition: background .5s ease;
  vertical-align: middle;
  display: none;
}

.hero-btn:hover {
  background-color: #3B5385;
  transition: all .2s ease;
}
