/*====== New message form ========*/

.meetup-messages h2 > a, .byline a{
  color: #202C47;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}

.meetup-messages h2 > a:hover{
  color: #3B5385;
}

.open-new-message{
  background-color: #202C47;
  border: none;
  color: #D6D6D6;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  margin-top: 20px;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease;
  width: 200px;
}

.open-new-message:hover {
  background-color: #3B5385;
  text-shadow: 0px -1.5px 1.5px rgba(0,0,0,0.5);
}

.message {
  float: left;
  width: 100%;
}

.message a {
  text-decoration: none;
}

#new_message {
  width: 100%;
  box-sizing: border-box;
}

#message_text {
  width: 100%;
  height: 70px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #999;
  padding: 1%;
}

.byline {
  font-size: 1.4em;
  font-weight: 100;
  margin: 2% 0 0 0;
}

.text {
  border-left: 1px solid black;
  font-size: 1.5em;
  font-weight: 300;
  padding-left: 15px;
  margin: 1% 0 .5% 2%;
  word-wrap: break-word;
}

.date {
  font-size: .75em;
  color: #999999;
}

