/*====== Book Profile Pic Display ========*/

.book_pic {
  float: left;
  display: block;
  height: 275px;
  margin: 1em 2em;
  position: relative;
  width: 200px;
}
.book_pic img {
  margin: 5% auto;
  padding: 5px;
  position: relative;
  bottom: 0;
  left: 0;

}